IR_PORT=23232
GPU_HOST=170.210.103.21
GPU_PORT=3491
IR_CORPUS_PATH=
PYTHON_HOST=localhost
PYTHON_PORT=5005
IR_VOCABULARY_FILE=vocabulary.txt
IR_DOCUMENTS_FILE=documents.txt
IR_POSTINGS_FILENAME=postings.bin
IR_POINTERS_FILENAME=postings_pointers.bin
IR_METADATA_FILENAME=metadata.bin
IR_MAXFREQS_FILENAME=max_freq_in_docs.bin
IR_INDEXER_SCRIPT=
IR_INDEXER_INI=
GPU_TUNNEL_PORT=
GPU_TUNNEL_HOST=
GPU_USERNAME=
GPU_PASS=
GPU_SSH_PORT=
GPU_INDEX_PATH=
