IR_PORT=23232
GPU_HOST=170.210.103.21
GPU_PORT=3491
IR_CORPUS_PATH=/path/to/corpus
GPU_TUNNEL_PORT=3491
GPU_TUNNEL_HOST=localhost
PYTHON_HOST=localhost
PYTHON_PORT=5005
IR_VOCABULARY_FILENAME=vocabulary.txt
IR_DOCUMENTS_FILENAME=documents.txt
IR_POSTINGS_FILENAME=postings.bin
IR_POINTERS_FILENAME=postings_pointers.bin
IR_METADATA_FILENAME=metadata.bin
IR_MAXFREQS_FILENAME=max_freq_in_docs.bin
IR_INDEXER_INI=/path/to/parallel-and-distributed-IR/IR_server/IR_python/config.ini
GPU_USERNAME=
GPU_PASS=
GPU_SSH_PORT=
GPU_INDEX_PATH=
IR_STATS_PATH=/path/to/parallel-and-distributed-IR/IR_server/Resources/Stats
CACHE_ACTIVATED=true
CACHE_SIZE_IN_QUERIES=3
CACHE_EXPIRE_AFTER_SECONDS=60