[section]

# Use: Rename from 'indexer.ini.example' to 'indexer.ini'
# syntax: option=value
# all options can be removed unless REQUIRED ones

# REQUIRED
index_dir=/path/to/parallel-and-distributed-IR/IR_server/Resources/Index
# where index files will be saved, if it does not exists, it is created

stopwords=/path/to/parallel-and-distributed-IR/IR_server/Resources/Stopwords/stopwords_es.txt
# path to stopwords file

term_min_size=3
# minimum length of terms in collection

term_max_size=23
# maximum length of terms in collection

stem=es
# language of stemming prefered
# if you dont want to apply stemming, remove this option
